<div class="window">
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <button
          (click)="addExercisePopup()"
          mat-mini-fab
          color="primary"
          aria-label="Example icon button with a menu icon"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>

    <br />

    <div>
      <h2>Categories:</h2>
      <mat-chip-listbox
        *ngIf="this.firebase.collection && this.firebase.collection.length > 1"
        aria-label="Fish selection"
        (click)="allCategories()"
      >
        <mat-chip-option *ngIf="hasMultipleCategories()" [selected]="isAllCategoriesBtnSelected" color="accent"
          >Select all</mat-chip-option
        >
      </mat-chip-listbox>

      <mat-chip-listbox multiple aria-label="Fish selection">
        @for (category of uniqueCategories; track category) {
        <mat-chip-option
          (click)="categoriesBehaviour(category)"
          color="accent"
          [selected]="category.categorySelected"
          >{{ category.categoryName }}
        </mat-chip-option>
        } @empty {
        <h3>No categories</h3>
        }
      </mat-chip-listbox>

      <br />

      <h2>Exercises:</h2>
      <h3 *ngIf="!hasSelectedExercises()">No exercises are selected</h3>

      <mat-chip-listbox
        *ngIf="this.firebase.collection && this.firebase.collection.length > 1"
        aria-label="Fish selection"
        (click)="allExercises()"
      >
        <mat-chip-option [selected]="isAllExercisesBtnSelected" *ngIf="hasSelectedExercises() && hasMultipleSelectedExercises()" color="accent"
          >Select all</mat-chip-option
        >
      </mat-chip-listbox>

      <mat-chip-listbox multiple aria-label="Fish selection">
        <div class="exercise-box">
        @for (collection of sortedExercises(); track collection; let i = $index)
        {

        <!-- <div class="test"> -->
          <h5
            class="category-in-exercise"
            *ngIf="
              (i === 0 ||
              collection.categoryName !== sortedExercises()[i - 1].categoryName) && collection.categorySelected
            "
          >
            {{ collection.categoryName }}
          </h5>

          <mat-chip-option
            (click)="exercisesBehaviour(collection)"
            *ngIf="collection.categorySelected"
            color="accent"
            [selected]="collection.exerciseSelected"
          >
            {{ collection.exerciseName }}
          </mat-chip-option>
        <!-- </div> -->
        } @empty {
        <h3>No exercises</h3>
        }
        </div>
      </mat-chip-listbox>
    </div>

    <br />

    <h2>Results:</h2>

    <div class="dFlex checkNumbers">
      <h3 class="number dFlex center-v center-h">{{ number }}</h3>

      <button
        mat-mini-fab
        color="primary"
        aria-label="Example icon button with a menu icon"
        (click)="increaseNumber()"
      >
        <mat-icon>add</mat-icon>
      </button>

      <button
        mat-mini-fab
        color="primary"
        aria-label="Example icon button with a menu icon"
        (click)="decreaseNumber()"
      >
        <mat-icon>remove</mat-icon>
      </button>
    </div>

    <button (click)="result()">result</button>
  </div>
</div>
