<div class="window">
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <button
          (click)="addExercisePopup()"
          mat-mini-fab
          color="primary"
          aria-label="Example icon button with a menu icon"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>

    <br />

    <div>
      <h2>Categories:</h2>
      <mat-chip-listbox *ngIf="this.firebase.collection && this.firebase.collection.length > 1" aria-label="Fish selection" (click)="allCategories()">
        <mat-chip-option [selected]="isAllCategoriesBtnSelected" color="accent">Select all</mat-chip-option>
      </mat-chip-listbox>

      <mat-chip-listbox multiple aria-label="Fish selection">
        @for (collection of firebase.collection; track collection) {
        <mat-chip-option (click)="categoriesBehaviour(collection)" color="accent" [selected]="collection.categorySelected">{{ collection.categoryName }}</mat-chip-option>
        } @empty {
        <h3>No categories</h3>
        }
      </mat-chip-listbox>

      <br />

      <h2>Exercises:</h2>
      <mat-chip-listbox *ngIf="this.firebase.collection && this.firebase.collection.length > 1" aria-label="Fish selection" (click)="allExercises()">
        <mat-chip-option [selected]="isAllExercisesBtnSelected" color="accent">Select all</mat-chip-option>
      </mat-chip-listbox>

      <mat-chip-listbox multiple aria-label="Fish selection">
        @for (collection of firebase.collection; track collection) {
        <mat-chip-option (click)="exercisesBehaviour(collection)" *ngIf="collection.categorySelected" color="accent" [selected]="collection.exerciseSelected">{{
          collection.exerciseName
        }}</mat-chip-option>
        } @empty {
        <h3>No exercises</h3>
        }
      </mat-chip-listbox>
    </div>
  </div>
</div>
