h2,
h3,
h5 {
  color: white;
}

h3 {
  margin: 0;
}

.category-in-exercise {
  margin: 5px 0 5px 10px;
}

.checkNumbers {
  gap: 8px;
  align-items: center;
  .number {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: white;
    color: black;
  }
}

.gamble-output {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 12px;
}

.create-edit-btns {
  gap: 12px;
}

.category-in-gamble {
  padding: 6px 12px;
  margin: 12px 0 12px 0;
  width: max-content;
  background: #ff4081;
  border-radius: 24px;
}
