.popup {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h1 {
    font-weight: 550;
}

.space-between {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: center;
}
