<mat-card>
  <mat-card-header class="column">
    <mat-form-field class="popup-input">
      <mat-label>Category</mat-label>
      <mat-select [(ngModel)]="categoryName" #categoryNameSelect (selectionChange)="closeDropdown(categoryNameSelect)">
        <div class="dFlex">
          <mat-form-field class="addCategoryInput">
            <mat-label>Add category</mat-label>
            <input
              matInput
              type="text"
              [(ngModel)]="addCategory"
            />
          </mat-form-field>
          <div class="addCategoryBtn">
            <button
              (click)="addCategoryBtn(addCategory, categoryNameSelect)"
              mat-mini-fab
              color="primary"
              aria-label="Example icon button with a menu icon"
              [disabled]="!addCategory"
            >
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>

        @for(category of firebase.categoryDropdown; track category){
          <mat-option value="{{ category }}">{{ category }}</mat-option>
        }

      </mat-select>
    </mat-form-field>

    <mat-form-field class="popup-input">
      <mat-label>Exercise</mat-label>
      <input matInput type="text" [(ngModel)]="exerciseName" />
    </mat-form-field>

    <mat-form-field class="popup-input">
      <mat-label>Amount of licks</mat-label>
      <input matInput type="number" [(ngModel)]="licksAmount" />
    </mat-form-field>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button (click)="this.dialogRef.close();">Close</button>
    <button mat-button [disabled]="disableSaveBtn" (click)="save()">Save</button>
  </mat-card-actions>
</mat-card>
